<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{base.html}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div layout:fragment="content" class="flex flex-col items-center gap-[46px]">
        <div th:replace="~{fragments/nowplaying :: nowplaying(${user}, ${current}, ${upNext})}"></div>
        <div th:replace="~{fragments/button :: button(Logout)}"></div>
    </div>
</body>

</html>