<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vestaboard App</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

        body {
            font-family: "Inria Sans", sans-serif;
        }
    </style>
</head>

<body
    class="bg-gradient-to-br from-berry to-mango h-screen w-screen justify-center items-center flex flex-col text-white">
    <div layout:fragment="content">

    </div>
</body>

</html>